<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->


        <bean id = "genspark.student" class="genspark.student">
                <property name="id" value ="123"/>
                <property name="name" value ="John"/>
                <property name="ph">
                        <list>
                                <ref bean ="phone"/>
                        </list>
                </property>
                <property name="add" ref ="genspark.Address"/>
        </bean>


        <bean id="phone" class="genspark.Phone">
                <property name="mob" value="(123)-456-7890"/>
        </bean>

        <bean id="genspark.Address" class="genspark.Address">
                <property name="city" value="Detroit"/>
                <property name="state" value="MI"/>
                <property name="country" value="United States"/>
                <property name="zipcode" value="12345"/>
        </bean>
    


</beans>